<div class="row backgroundimg">
    <button class="btn btn-success" id="back" routerLink="/">Back</button>
    <div class="container">
        <h1 class="h1 text-center"><b>About Us</b></h1>
    </div>
</div>

<div class="container-fluid">
<div class="row content">
    <div class="col-lg-12"><br><br>
        <h3>About Us</h3>
        <p style="color: black;"> 1. Number Recognition practicing module. <br>
            2. Number practicing with addition, subtraction and multiplication. <br>
            3. In Number practicing Module ,Each modules has some sub modules. <br>
            4. All the sub modules has some questions with timer. <br>
            5. Timer to measure time taken by the student to complete the Practice module. <br>
            6. In the Next attempt the timing will be compared. <br>
            7. Dashboard will be available to check the overall performance. <br>
            8. Individual profile is maintained for all the users. </p><br>
    </div> 
</div>
</div>    
    <!-- <div class="container-fluid">
        <div class="row contact">
            <div class="col-lg-12 footer-section">
                <div class="text-center contact-info">
                    <footer class="page-footer ">
                      
                          <ul class="list-unstyled list-inline text-center py-2">
                            <li class="list-inline-item">
                              <b><h1 class="mb-1">Contact us  :</h1></b>
                            </li>
                          </ul>
                      
                        <div class="footer-copyright text-center ">
                          <b><span class="text-center"> Mobile No: +91 9874563210</span><br>
                          <span class="text-center" >Email : abcc@gmail.com</span></b>
                        </div>
                      
                      </footer>
                </div>
            </div>
        </div>
    </div> -->
<div class="footer-area">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-lg-12" style="background-color: grey;">          
                <div class="text-center">
                    <li class="list-inline-item">
                        <b><h1 class="mb-1">Contact us  :</h1></b>
                      </li>
                      <div class="text-center ">
                        <b><span class="text-center"> Mobile No: +91 9874563210</span><br>
                        <span class="text-center" >Email : abcc@gmail.com</span></b>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
    